@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-image: url(../public/assets/image.png);
}
.land, .landing{
    padding-bottom: 20px;
    background-image: url(../public/assets/image.png);
}
.left-2{
  background-image: url(../public/assets/funky-lines.png);
  background-position: center;
  height:200vh
}
